body {
  background: #dbe2e6;
  min-height: 100vh;
}

.card {
  border: 0;
  border-radius: 16px;
}

.card.shadow-sm {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06) !important;
}

.navbar {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

pre {
  background: #dbe2e6 !important;
  border-radius: 12px;
}
